@import "vendor/bootstrap-4.0/bootstrap", "vendor/font-awesome-4.7.0/font-awesome",
"vendor/OwlCarousel2-2.2.1/owl.carousel", "vendor/OwlCarousel2-2.2.1/owl.theme.default";

@import "base/reset", "base/typography";

@import "partials/variables", "partials/mixins", "partials/layout";

@import "layout/sidebar";

@import "pages/login-signup", "pages/las", "pages/coach", "pages/dreams";

@import "components/ui-elements";

body {
  font-family: $font-primary-en;
  font-weight: 400;
  color: $dark-grey-color;
}
h1,
h3 {
  font-family: $font-primary-en;
}

h2 {
  font-family: $font-secondary-en;
}
.wow {
  visibility: hidden;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

section {
  @include margin(0, 0, 0, 0);

  @include breakpoint(md) {
    @include margin(0, 0, 0, 0);
  }

  @include breakpoint(sm) {
    @include margin(0, 0, 0, 0);
  }
}

@include breakpoint(sm) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}
main {
  @include padding(0, 0, 0, 0);
}

.nomargin {
  @include margin(0, 0, 0, 0);
}
.nopadding {
  @include padding(0, 0, 0, 0);
}
.white-bg {
  background: $white-color;
}
.text-blue {
  color: $brand-color;
}

.text-green {
  color: $brand-color;
}
.text-brand {
  color: $brand-color;
}
.text-light-blue {
  color: $brand-color;
}
.text-grey {
  color: $light-blue-color;
}


.link-brown {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
  color: $brand-color;
  @include transition(all 0.6s ease);

  &:hover {
    color: $dark-grey-color;
  }
}
.link-green {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
  color: $brand-color;
  @include transition(all 0.6s ease);

  &:hover {
    color: $dark-grey-color;
  }
}

.borderless-table td,
.borderless-table th {
  border: none;
}

.body-content {
  background-color: $white-color;
  border: 1px solid #e4e4e4;

  @include padding(40px, 100px, 40px, 100px);
  @include border-radius(4px);
  @include margin(100px, 140px, 100px, 140px);

  @include breakpoint(sm) {
    @include padding(20px, 20px, 20px, 20px);
    @include margin(130px, 20px, 20px, 20px);
  }

  @include breakpoint(md) {
    @include padding(30px, 30px, 30px, 30px);
    @include margin(130px, 20px, 20px, 20px);
  }
  @include breakpoint(lp) {
    @include padding(50px, 80px, 50px, 80px);
    @include margin(100px, 60px, 60px, 60px);
  }
}

.button-footers {
  background-color: $white-color;
  @include padding(20px, 25px, 20px, 25px);
  margin-top: auto;

  @include breakpoint(sm) {
    button{
      width: 100%;
    }
    .action-btn-outline {
      @include margin(0, 0, 10px, 0);
    }
    .d-flex {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.main-form-wrap {
  .form-group {
    @include margin(0, 0, 30px, 0);
  }
  .form-control {
    background: $white-color;
    border: 1px solid #dbdbdb;
    @include border-radius(3px);
    height: 45px;
    box-shadow: none;
    font-size: 14px;
    color: $light-grey-color;

    &:focus {
      border: 1px solid $brand-color;
      box-shadow: 0px 0px 10px 0px rgba(117, 169, 67, 0.35);
    }
    &::placeholder {
      color: rgba(#a7a9ac, 0.5);
    }
  }
  label {
    text-transform: uppercase;
    color: #a7a9ac;
    font-size: 13px;
    font-weight: 400;
    @include margin(0, 0, 13px, 0);
  }
  textarea {
    height: 140px !important;
    resize: none;
    @include margin(0, 0, 20px, 0);
  }
  .select-dropdown {
    position: relative;

    select {
      height: 45px !important;
      color: rgba(#a7a9ac, 0.5);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    &:after {
      content: "\f107";
      font-family: FontAwesome;
      color: #9da0aa;
      right: 20px;
      top: 7px;
      padding: 0 0 2px;
      position: absolute;
      pointer-events: none;
      font-size: 22px;
    }
  }
}
.profile-content {
  h2 {
    color: $brand-second-color;
    font-size: 20px;
    font-weight: 500;
    @include margin(0, 0, 40px, 0);
  }
  h3 {
    color: $brand-second-color;
    font-size: 17px;
    @include margin(0, 0, 30px, 0);
  }
}

.no-workbook-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  figure {
    @include margin(0, 0, 30px, 0);
  }
  h2 {
    font-size: 20px;
    font-weight: 500;
    color: $brand-second-color;
    @include margin(0, 0, 10px, 0);
    text-align: center;
  }
  p {
    font-size: 14px;
    @include margin(0, 0, 30px, 0);
    color: $light-blue-color;
    text-align: center;
  }
}

.blockquote {
  @include border-radius(4px);
  @include padding(30px, 30px, 30px, 30px);
  position: relative;
  overflow: hidden;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    color: $white-color;
    font-size: 20px !important;
    font-weight: 500;
    position: relative;
    z-index: 1;
  }
  .blockquote-footer {
    font-size: 16px;
    color: $white-color;
    position: relative;
    z-index: 1;
  }
}
.blockquote-red {
  background: #d94730 url(../images/james-baldwin.png) no-repeat right top;
}
.blockquote-black {
  background: $black-color url(../images/lily-tomlin.png) no-repeat;
}
.blockquote-black-reverse {
  background: #111111 url(../images/theodore-roosevelt.png) no-repeat right;
}
.blockquote-01 {
  background: #d8f7ff url(../images/william-edward.png) no-repeat left;
}
.blockquote-02 {
  background: linear-gradient(103.71deg, #fb5e3c 0%, #f1864a 100%);
}
.blockquote-03 {
  background: #85730e url(../images/demi-lovato.png) no-repeat right;
}
.blockquote-04 {
  background: #111111 url(../images/laura-lane.png) no-repeat center;
}
.blockquote-05 {
  background: #521b47 url(../images/sandeep-jauhar.png) no-repeat left;
}

.client-workbook-guide {
  position: relative;
  overflow: hidden;

  &:before {
    position: absolute;
    right: 0;
    bottom: -20px;
    content: url(../images/title-birds.svg);
  }

  .client-workbook-guide-content {
    position: relative;
    z-index: 9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    figure {
      @include margin(0, 0, 30px, 0);
    }
    h2 {
      font-size: 25px;
      font-weight: 500;
      color: $brand-second-color;
      text-align: center;
      @include margin(0, 0, 20px, 0);
    }
    p {
      font-size: 18px;
      font-weight: 500;
      @include margin(0, 0, 10px, 0);
      color: #038aa9;
      text-align: center;
    }
    span {
      font-size: 14px;
      font-weight: 500;
      display: inline-block;
      @include margin(0, 0, 30px, 0);
      color: #038aa9;
      text-align: center;
    }
    h3 {
      font-size: 17px;
      font-weight: 500;
      color: $dark-grey-color;
      text-align: center;
      @include margin(0, 0, 20px, 0);
    }
  }
}

article {
  @include border-radius(4px);
  @include padding(30px, 35px, 30px, 35px);
  position: relative;
  @include margin(0, 0, 30px, 0);
  overflow: hidden;

  ul {
    li {
      position: relative;
      font-size: 15px;
      @include padding(0, 0, 0, 20px);
      @include margin(0, 0, 10px, 0);
      &:before {
        position: absolute;
        left: 0;
        top: 3px;
        content: "\f067";
        font-family: FontAwesome;
        font-size: 10px;
      }
    }
  }
  .title {
    font-weight: 500;
    font-size: 18px;
    @include margin(0, 0, 20px, 0);
    color: $dark-grey-color;
  }
}
.article-green {
  background: #ddf6fa;
  border: 1px solid #78beb3;
  ul {
    li {
      &:before {
        color: #187a72;
      }
    }
  }
  &::before {
    content: url(../images/green-abstract-top.svg);
    position: absolute;
    left: -55px;
    top: -70px;
  }
  &::after {
    content: url(../images/green-abstract-bottom.svg);
    position: absolute;
    right: -20px;
    bottom: -75px;
  }
  .title-green {
    color: #187a72;
    @include margin(0, 0, 20px, 0);
    font-size: 18px;
  }
}
.article-blue {
  background: #edf3ff;
  border: 1px solid #93aad4;
  ul {
    li {
      &:before {
        color: #2d62cb;
      }
    }
  }

  &::before {
    content: url(../images/blue-abstract-top.svg);
    position: absolute;
    left: -113px;
    top: -33px;
  }
  &::after {
    content: url(../images/blue-abstract-bottom.svg);
    position: absolute;
    right: -24px;
    bottom: -50px;
  }
  .title-blue {
    color: #2d62cb;
    font-size: 18px;
    @include margin(0, 0, 20px, 0);
  }
}

.article-welcome {
  p {
    display: flex;
    align-items: center;
    &.text-blue {
      color: #395599;
      font-size: 14px;
    }
    &.text-bullet {
      position: relative;
      @include padding(0, 0, 0, 50px);
      &:before {
        width: 36px;
        height: 36px;
        background: #4379e3;
        content: "";
        left: 0;
        @include border-radius(50%);
        position: absolute;
      }
    }
    &.facebook {
      i {
        color: #395599;
        font-size: 22px;
        @include margin(0, 10px, 0, 0);
      }
      span {
        color: #395599;
      }
    }
  }
}

.article-yellow {
  background: #fff9e6;
  border: 1px solid #e9d799;
  ul {
    li {
      &:before {
        color: #dd9d02;
      }
    }
  }

  &::before {
    content: url(../images/yellow-abstract-top.svg);
    position: absolute;
    left: -35px;
    top: -105px;
  }
  &::after {
    content: url(../images/yellow-abstract-bottom.svg);
    position: absolute;
    right: -23px;
    bottom: -85px;
  }
  .title-yellow {
    color: #dd9d02;
    font-size: 18px;
    @include margin(0, 0, 20px, 0);
  }
}
.article-brand {
  background: #f2ffda;
  border: 1px solid #75a943;
  position: relative;
  @include padding(70px, 35px, 30px, 35px);
  &:before {
    content: "IF";
    position: absolute;
    left: 35px;
    top: 20px;
    font-weight: 500;
    font-size: 32px;
    color: $brand-color;
    font-family: $font-secondary-en;
  }
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: $dark-grey-color;
    @include margin(0, 0, 20px, 0);
  }
  span {
    color: $brand-color;
  }
}

.static-content {
  .title-black {
    font-weight: 500;
    font-size: 20px;
    color: $brand-second-color;
    @include margin(0, 0, 30px, 0);
  }
  .title-black-sm {
    font-weight: 500;
    font-size: 16px;
    color: $dark-grey-color;
    @include margin(0, 0, 30px, 0);
  }
  .title-pink {
    font-weight: 500;
    font-size: 17px;
    color: #75a943;
    @include margin(0, 0, 30px, 0);
  }
  .sub-title-black {
    font-size: 15px;
    color: $dark-grey-color;
    @include margin(0, 0, 30px, 0);
  }
  p {
    line-height: 30px;
    font-size: 15px;
    @include margin(0, 0, 25px, 0);
  }
  h4 {
    color: $dark-grey-color;
    font-size: 18px;
    @include margin(0, 0, 20px, 0);
  }
  h5 {
    color: $dark-grey-color;
    font-size: 16px;
    @include margin(0, 0, 20px, 0);
  }
  h6 {
    color: $dark-grey-color;
    font-size: 14px;
    @include margin(0, 0, 20px, 0);
  }
}

.print-button {
  display: inline-block;
  background-color: $white-color;
  border-radius: 0 80px 80px 0;
  position: absolute;
  left: -145px;
  top: 150px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: $brand-color;
  @include transition(all 0.6s ease);
  @include padding(10px, 10px, 10px, 10px);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

  .text {
    @include margin(0, 10px, 0, 5px);
  }

  &:hover {
    color: $dark-grey-color;
    left: 0;
    .text {
      color: $dark-grey-color;
    }
  }
}

.life-area-survey {
  .title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include margin(0, 0, 25px, 0);
  }
}

.priority-domains-row {
  background: $white-color;
  @include padding(10px, 30px, 10px, 30px);
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  @include margin(49px, 0, 0, 0);

  h2 {
    color: $light-blue-color;
    font-weight: 500;
    font-size: 16px;
    @include margin(0, 15px, 0, 0);
  }

  &__group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__item {
    @include padding(0, 12px, 0, 0);
  }
  &__item-link {
    display: inline-block;
    font-size: 14px;
    background: #75a943;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    @include border-radius(50px);
    position: relative;
    color: $white-color !important;
    padding: 6px 10px 6px 15px;
    display: flex;
    align-items: center;


    .cross-icon {
      display: block;
      color: $white-color;
      margin-left: 20px;
    }

    &:hover {
      background: $dark-grey-color;
      color: $white-color;

      .cross-icon {
        color: $white-color;
      }
    }
    &.active {
      background-color: #1e2628;
      color: $white-color;

      .cross-icon {
        color: $white-color;
      }
    }
  }
}



.arrow-steps {
  background: $white-color;
  flex-direction: row;
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  margin-left: -11px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9;

  @include breakpoint(sm) {
    white-space: nowrap;
    overflow-x: scroll;
    @include margin(60px, 0, 0, 0);
  }
  @include breakpoint(md) {
    white-space: nowrap;
    overflow-x: scroll;
    @include margin(60px, 0, 0, 0);
  }
}
.arrow-steps .step {
  font-size: 14px;
  color: #9da0aa;
  font-weight: 500;
  text-align: center;
  cursor: default;
  margin: 0 1px;
  padding: 0 10px 0 30px;
  height: 47px;
  line-height: 47px;
  position: relative;
  background-color: $white-color;
}
.arrow-steps .step:after,
.arrow-steps .step:before {
  content: " ";
  position: absolute;
  top: 0;
  right: -10px;
  width: 0;
  height: 0;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
  border-left: 10px solid $white-color;
  z-index: 2;
  transition: border-color 0.2s ease;
}
.arrow-border {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 2px;
    right: -17px;
    background-color: #e4e4e4;
    transform: rotate(-24deg);
    top: -16px;
    z-index: 1;
  }
  &:after {
    position: absolute;
    content: "";
    height: 26px;
    width: 2px;
    right: -17px;
    background-color: #e4e4e4;
    transform: rotate(24deg);
    bottom: -17px;
    z-index: 1;
  }
}

.arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 10px solid #fff;
  z-index: 0;
}

.arrow-steps .step .item-text {
  position: relative;
}

.arrow-steps .step.current {
  color: $brand-color;
  background: #feeddc;

  .arrow-border {
    &:before {
      background-color:  $brand-color;
    }
    &:after {
      background-color:  $brand-color;
    }
  }
}
.arrow-steps .step.current:after {
  border-left: 10px solid #feeddc;
}

.arrow-steps .step.complete {
  color: $brand-color;
  background: #feeddc;
  padding: 0 10px 0 50px;
  .arrow-border {
    &:before {
      background-color:  $brand-color;
    }
    &:after {
      background-color:  $brand-color;
    }
  }

  .item-text {
    display: inline-block;
    color: $brand-color;
    position: relative;
    &:before {
      position: absolute;
      left: -20px;
      top: 2px;
      content: url(../images/tick.png);
    }
  }
}
.arrow-steps .step.complete:after {
  border-left: 10px solid #feeddc;
}

.key-to-success-list-items {
  @include margin(0, 0, 40px, 0);
  li {
    font-size: 15px;
    line-height: 30px;
    color: $dark-grey-color;
    @include margin(0, 0, 10px, 0);
    @include padding(0, 0, 0, 20px);
    position: relative;
    &:before {
      position: absolute;
      left: 0;
      content: "+";
      color: #ff3366;
      font-size: 18px;
      top: 0;
    }
  }
}

.aggregate-score {
  background: #1B3768;
  color: #fff;
  position: absolute;
  right: 30px;
  border-radius: 40px;
  padding: 5px 15px;
}
.my-dream-form-block{
  padding: 30px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.my-dream-form-block .fa-times{
  position: absolute;
  right: 0;
  top: 0;
  background: #ddd;
  padding: 10px;
  color: #75a943;
}
.my-dream-form-block .fa-times:hover{
  background: #666;
  color: #fff;
}
.my-dream-input-cross{
  display: flex;
  align-items: center;
  height: 45px;
}  
.my-dream-input-cross .fa-times{
  color: #75a943;
  font-size: 22px;
}
.my-dream-input-cross .fa-times:hover{
  color: #666;
}
.active-dream-label {
  font-size: 24px;
  color: white;
  font-weight: 500;
}
.sweet-loading {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  left: 0;
  top: 0;
}
