// colors
$brand-color:#ee9743;
$brand-second-color: #1B3768;
$black-color: #000; // black color
$white-color: #fff; // white color
$light-grey-color: #899298; // light grey
$dark-grey-color: #4C4D4F; // light grey
$text-grey-color: rgba($black-color, 0.5);
$light-blue-color: #A7A9AC;  //#707C97 light grey
$light-orange-color: rgba(#ee9743, .5);

// fonts
$font-primary-en: 'Roboto', sans-serif;
$font-secondary-en:'Roboto Slab', serif;

/* clearfix */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
/* center block */
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* center vertically */
@mixin center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%, -50%), "webkit" "ms");
}

//Padding mixin
@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}
//Margin mixin
@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}


@mixin card-shadow() {
  box-shadow: 0 1px 5px 0 rgba($black-color, 0.1);
}

@mixin my-shadow() {
  box-shadow: 0 1px 5px 0 rgba($black-color, 0.1);
}

@mixin card-hover-shadow() {
  box-shadow: 0 5px 24px 0 rgba($black-color, 0.1);
}


